.main-title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: blueviolet;
}

.ul-list {
    background-color: aquamarine;
}

.item {
    font-family: 'Courier New', Courier, monospace;
}
